################################################################
############## AETHER Runtime Parameters File ##################
####### (inspired by pluto config layout, cuz I like it) #######
################################################################

#########################
# Domain Specifications #
#########################

num_x_cells                             1000
num_y_cells                             240            # Overwrites to 0 in 1D builds
num_z_cells                             100            # Overwrites to 0 in 2D builds
num_ghost_cells                         4

x_domain_start : x_domain_end           0.0 : 1.0     
y_domain_start : y_domain_end           0.0 : 1.0     # Ignored in 1D problems
z_domain_start : z_domain_end           0.0 : 1.0     # Ignored in 2D problems

##########################
### Run Specifications ###
##########################

cfl_number                              0.99
time_start : time_end                   0.0 : 0.25
time_stepper                            char_trace    #char_trace | rk1 | TODO: rk2 | rk3 | rk4
riemann_solver                          HLLC           # HLL | HLLC | TODO: ROE | EXACT
spatial_solver                          PPM           # FOG | PLM | PPM | TODO: WENO3 | WENO5
slope_limiter                           vanleer        # vanleer | mc | minmod
num_quadrature_points                   1
gamma                                   1.4
test_problem                            SOD             # SOD | SOD_Y | SOD_Z | DMR | SEDOV | TODO: CUSTOM | LOAD
boundary_conditions                     Outflow           # Outflow | DMR | Periodic | TODO: Refecting  
use_test_defaults                       false         # true | false: if true overloads 
                                                      # above parameters with defaults for the test problem

#############################
### Output Specifications ###
#############################

write_text                              false
write_binary                            true         # TODO: Double precision binary file (parallel writes in OPEN_MP builds)
snapshot_every                          5            # 0 = disabled

custom_output_dir                       ""           # Defaults to ${AETHER_ROOT_DIR}/OutputData/
run_prefix                              ""           # Defaults to "snap"
